# Postgres Config (Docker)
POSTGRES_USER=oliverio
POSTGRES_PASSWORD=password
POSTGRES_DB=ecommercedb

# App Config
PORT=3000
NODE_ENV=development
BASE_URL=http://localhost:3000
JWT_SECRET=keep-this-secret-private

# Database Connection
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=ecommercedb

DATABASE_ENTITIES=dist/**/*.entity.js

#Database Production
# DATABASE_URL=
# NODE_ENV=production

# Initial Admin User
ADMIN_EMAIL=admin@admin.com
ADMIN_PASSWORD=12345678

# Mail Configuration
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=
MAIL_PASS=
MAIL_FROM=
MAIL_SECURE=false
