# Postgres Config (Docker)
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# App Config
PORT=
NODE_ENV=
BASE_URL=
JWT_SECRET=

# Database Connection
DATABASE_HOST=
DATABASE_PORT=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=

DATABASE_ENTITIES=

#Database Production
# DATABASE_URL=
# NODE_ENV=production

# Initial Admin User
ADMIN_EMAIL=
ADMIN_PASSWORD=

# Mail Configuration

MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASS=
MAIL_FROM=
MAIL_SECURE=